
<h1>{{recipe_name}}</h1>
<p>{{recipe_description}}</p>
{{{renderImage recipe_name}}}

<div class="card">
    <h2>Ingredients</h2>
    <ul>
    {{#each ingredients as |ingredient|}}
    <li><span>{{ingredient.ingredient_amount}}</span> <span>{{ingredient.ingredient_name}}</span></li>
    {{/each}}
    </ul>

</div>

<div class="card">
    <h3>Instructions</h3>
    <p>{{recipe_instructions}}</p>
</div>